body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color:#40514e;
}

h1 {
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

.pro {
  text-decoration: underline;
}

.top-container {
  padding: 100px;
  position: relative;
  background-color: #EAf6f6;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.footer-link {
  color: #11999E;
  text-decoration: none;
  margin: auto 10px;

}
a:hover{
  color:#eaf6f6;
}

.btn {
  color: #11999E;
}

.skill-row {
  width: 50%;
  position: relative;
  right: auto;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}

.code-img {
  width: 25%;
  float: left;
  margin: auto 30px auto auto;
}

.chilli {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.profile-img-discription {
  margin: auto 30%;
}

hr {
  height: 0;
  border-style: dotted;
  border-width: 10px 0 0 0;
  width: 5%;
  margin: 50px auto;
  color: #EAf6f6;
}
.bottom-container{
  background-color: #66bfbf;

padding: 30px 0 20px;

}
.copy-right{
  margin:30px auto auto auto;
  color: #eaf6f6;
  font-size: small;
}
.contact-me{
  margin:50px auto;
}
.profile{
  padding-top: 50px;
}
.BUTTON_LCT {
	box-shadow: 0 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #66bfbf 5%, #11999e 100%);
	background-color:#66bfbf;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#eaf6f6;
  font-family: 'Montserrat', sans-serif;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0 1px 0 #3d768a;
}
.BUTTON_LCT:hover {
	background:linear-gradient(to bottom, #11999e 5%, #66bfbf 100%);
	background-color:#11999e;
}
.BUTTON_LCT:active {
	position:relative;
	top:1px;
}
